body {
  width: 100%;
  height: 100%;
  background: #222;
}

img {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #8f198f;
}

.buffer {
  height: 200px;
  display: none;
}

.center {
  text-align: center;
}

/************************/
/***** NASA STYLING *****/
/************************/
  .nasa {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
  }

  #nasa-container {
    margin: 10px;
  }

  #nasa-img {
    height: 75px;
    width: auto;
    transition: .3s ease-out;
    opacity: .8;
  }

  #nasa-container:hover > img {
    height: calc(100vh - 20px);
    opacity: 1;
  }

  .nasa-caption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 15px 20px;
    margin: 2px;
    box-shadow: 0 0 7px 0 #ffffff4d;
    display: none;
    cursor: pointer;
  }

  .nasa-container:hover .nasa-caption {
    display: block;
  }

  .nasa-caption::before {
    content: '+';
    font-size: 35px;
  }

  #nasa-author {
    text-align: center;
  }

/***************************/
/***** NYTIMES STYLING *****/
/***************************/

  #nytimes-container {
    justify-content: center;
  }

  .articles {
    background: #fff;
    width: 150px;
    text-align: center;
    margin: 10px;
  }

  .articles .news-img {
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .articles .title {
    height: 70px;
    padding: 7px;
    color: #fff;
    background: rgba(0,0,0,0.8);
    font-weight: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .articles p:last-child {
    margin: 0;
    line-height: 30px;
  }

  .news-selectors {
    justify-content: center;
    padding: 0 40px;
  }

  input[name="news"] {
    display: none;
  }

  .news-selectors label {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 5px;
    background-color: rgb(175, 174, 174);
    border: 1px solid black;
    cursor: pointer;
  }